footer{
  background-color: var(--light-white) !important;
}
.logo{
  font-size: 1.8rem;
}
.nav a{
  color: unset;
}
.nav a:hover{
  color: var(--accent-color) !important;
}
.nav .active{
  color: var(--accent-color) !important;
}